@model Loria.Dal.Entities.Skill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Skill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Recipe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Recipe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
